body{
    background-color: black;
}
.principal{
display: flexbox;
align-items: center;
margin: auto;
background-color: white;
width:320px;
height:430px;
font-family: 'Roboto', sans-serif;
font-size: 15px;
}

p{font-size: 7px;
padding: 0px;
float: left;}

img{width:320px;
height: 250px;}

i{padding: 7px;}

.fa-html5{float: left;}

.fa-ellipsis-v{float:right}

.fa-bookmark{float:right}

.likes{padding: 10px;
    width:300px;}

.description{padding: 10px;
    width: 300px;}